name: CI/CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ci:
    uses: corriander/gha/.github/workflows/uv-ci.yaml@main
    with:
      python-version: "3.12"
      working-directory: "."
      coverage-limit: 80
    permissions:
      contents: write
      pull-requests: write
